<!--Main Navigation-->

  <style>
    #intro {
      height: 100vh;
    }

    /* Height for devices larger than 576px */


    body {
      background-image: url("assets/img/expertise.jpeg") ;
      background-color: #292b2c;
      no-repeat: center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }
      /* The image used */




  </style>




  <!-- Background image -->

  <div class="container" style="background-color: #d9534f" *ngIf="authService.isAuthenticated()">
    <div class="card border-0 shadow my-5" >
      <div class="card-body p-5" align="center" >
        <h1  class="fw-light">E-solution E-tickets</h1>
        <p class="lead">Notre solution de gestion des tickets et incidents vous permet de rassembler les demandes de type incidents et problèmes des utilisateurs et de les traiter dans les meilleurs délais. Connu sous le nom de E-solution E-tickets sertvice Desk, ce logiciel performant prend en charge l’enregistrement et la classification de vos tickets et incidents suivant leur degré d’urgence et criticité, leurs catégories / sous catégories , leurs origines et les niveaux d’intervention requis.

          D’autre part, notre outil de gestion des tickets d’incidents permet la mise en place d’alertes et la communication par mail, ce qui accroît de manière significative la réactivité et l’efficacité de l’équipe de support. Il contribue ainsi à l’amélioration de la qualité de services fournie aux utilisateurs et à l’atténuation de l’impact des incidents sur l’activité de l’entreprise.</p>

        <p class="lead mb-0"></p>
      </div>
    </div>
  </div>
  <!-- Background image -->







